#document {
	background: #201F1D;
}

#navBar {
 	-webkit-app-region: drag;
	height: 47px;
	background: #09364B;
	top: 0px;
	left: 0px;
	width: 100%;
	margin:0px;
  padding:0px;
	position: absolute;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 6px;
	right: 6px;
}

#titleTxt {
	color: aliceblue;
	font-size: 20px;
	margin: 10px;
}

#min-btn, #max-btn, #close-btn {
	border-radius: 5px;
	width: 40px;
	height: 35px;
	background: #686766;
	font-size: 15px;
	font-weight: bold;
	color: aliceblue;
}

#content {
	margin: 15px;
	margin-top: 65px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

#eventsDiv {
	margin: 5px;
	margin-right: 180px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow-y:auto;
}

#eventsDiv::-webkit-scrollbar {
    width: 12px;
}

#eventsDiv::-webkit-scrollbar-track {
    background-color: #201F1D; 
    border-radius: 10px;
}

#eventsDiv::-webkit-scrollbar-thumb {
	background-color: #686766; 
    border-radius: 10px;
}

#event {
	border: solid;
	margin-bottom: 5px;
}

#eventTitle {
	margin: 5px;
	margin-left: 8px;
	font-size: 18px;
	font-weight: bold;
}

#eventDate {
	display: inline-block;
	margin: 5px;
	margin-left: 8px;
}

#eventTime {
	margin: 5px;
	margin-left: 8px;
	display: inline-block;
}

#timeLeftSpan {
	margin: 5px;
	margin-left: 8px;
}

#eventDeleteButton, #eventEditButton, #eventDoneButton, #eventUndoButton {
	margin: 5px;
	margin-left: 8px;
	width: 70px;
	background: #686766;
	font-size: 15px;
	font-weight: bold;
	color: aliceblue;
}

#addEventButton {
	float: right;
	margin: 5px;
	right: 0;
	top: 0;
	width: 160px;
	position: absolute;
	background: #686766;
	font-size: 15px;
	font-weight: bold;
	color: aliceblue;
}

#calendarDiv {
	float: right;
	margin: 5px;
	margin-top: 56px;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 160px;
	overflow: hidden;
}

#calendarDate {
	border: solid;
	margin-bottom: 5px;
}

#dateNumber {
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
	color: aliceblue;
}

#dateName {
	font-size: 13px;
	float: right;
	margin: 5px;
	color: aliceblue;
}

#dateMonth {
	font-size: 13px;
	margin: 5px;
	margin-top: 20px;
	color: aliceblue;
}

/* ========================================================== Modal ============================================================ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}