#navBar {
 	-webkit-app-region: drag;
	border-radius: 0px;
	height: 40px;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 0px;
	right: 6px;
}

#titleTxt {
	color: aliceblue;
	font-size: 20px;
	margin: 10px;
}

#min-btn, #max-btn, #close-btn {
	border-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 40px;
	height: 35px;
}

#content {
	margin: 15px;
	margin-top: 65px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

#eventsDiv {
	margin: 5px;
	margin-right: 180px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow-y:auto;
	border: solid;
}

#event {
	border: solid;
	margin: 5px;
}

#eventDate {
	display: inline-block;
	margin-right: 5px;
}

#eventTime {
	display: inline-block;
}

#addEventButton {
	float: right;
	margin: 5px;
	right: 0;
	top: 0;
	width: 160px;
	position: absolute;
}

#calendarDiv {
	float: right;
	margin: 5px;
	margin-top: 56px;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 160px;
	overflow: hidden;
}

#calendarDate {
	border: solid;
	margin-bottom: 5px;
}

/* ========================================================== Modal ============================================================ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}