#navBar {
 	-webkit-app-region: drag;
	border-radius: 0px;
	height: 40px;
}

#content {
	margin: 15px;
	margin-top: 65px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

#titleBar {
	padding: 5px;
	margin: 5px;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	border: solid;
}

#calenderDiv {
	padding: 5px;
	float: right;
	margin: 5px;
	margin-top: 70px;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 160px;
	overflow: hidden;
	border: solid;
}

#eventsDiv {
	padding: 5px;
	margin: 5px;
	margin-top: 70px;
	margin-right: 180px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow-y:auto;
	border: solid;
}

#addEventButton {
	float: right;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 0px;
	right: 6px;
}

#min-btn, #max-btn, #close-btn {
	border-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 40px;
	height: 35px;
}